body {
  margin: 0;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.header {
  position: relative;
  background: #eeeff1;
}

.header-wrap {
  display: flex;
  align-items: center;
  padding: 79px 0 0;
}

.logo {
  position: absolute;
  top: 60px;
  left: 14%;
}

.nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 80px 0px 0px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -999999px;
}

.burger {
  position: relative;
  width: 25px;
  height: 26px;
}

.burger:before,
.burger span,
.burger:after {
  position: absolute;
  right: 0;
  left: -10px;
  height: 4px;
  border-radius: 2px;
  background: #34547a;
}

.burger:before,
.burger:after {
  content: "";
}

.burger:before {
  top: 0;
}

.burger span {
  top: 8px;
}

.burger:after {
  bottom: 6px;
}

#burger:checked + .burger:before {
  transition: transform 0.3s ease-in;
  transform: rotate(45deg);
  top: 14px;
}

#burger:checked + .burger span {
  opacity: 0;
}

#burger:checked + .burger:after {
  transition: transform 0.3s ease-in;
  transform: rotate(-45deg);
  bottom: 8px;
}

#burger:checked ~ .nav-list {
  transition: opacity 0.3s ease-in;
  opacity: 1;
  visibility: visible;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.nav-list {
  position: absolute;
  top: 16%;
  right: 0;
  left: 0;
  background: white;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.nav-item {
  padding: 0px 10px;
}

.nav-link {
  color: #000;
  text-decoration: none;
}

.nav-link:hover {
  opacity: 0.7;
  color: #34547a;
}

.header-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 166px 0 146px 0;
}

.image-info {
  position: absolute;
  left: 10%;
}

.info-item {
  width: 50%;
}

.info-item h1 {
  font-size: 48px;
  margin: 0;
}

.info-item p {
  text-align: left;
  margin: 60px 75px 60px 0px;
  color: #727272;
  font-size: 16px;
  line-height: 2;
}

.btn-head {
  text-decoration: none;
  background: #34547a;
  padding: 25px 41px;
  color: #ffffff;
  display: inline-block;
}

.btn-head:hover {
  background: grey;
  opacity: 0.7;
  color: #eeeff1;
}

.skill .row {
  display: flex;
  align-items: center;
}

.about {
  text-align: center;
}

.about h2 {
  margin-top: 110px;
  font-size: 32px;
}

.about p {
  line-height: 2;
  margin: 50px 333px 100px 333px;
  color: #727272;
  font-size: 16px;
}

.about-item {
  background: #34547a;
}

.img-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.numbers-item {
  padding: 100px 0px 100px 0px;
  cursor: pointer;
}

.skill {
  margin: 101px 0;
}

.skill-header h2 {
  font-size: 32px;
  margin: 0 0 50px 0;
}

.skill .col {
  width: 50%;
  padding: 0 15px;
}

.skill-box {
  max-width: 445px;
}

.skill-item {
  margin-bottom: 30px;
}

.skill-item:last-child {
  margin-bottom: 0;
}

.skill-label {
  display: block;
  margin-bottom: 20px;
  color: #727272;
}

.skill-loader {
  height: 4px;
  position: relative;
  background: #c4c4c4;
}

.skill-load {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #34547a;
}

.media {
  background: #eeeff1;
  text-align: center;
}

.media h3 {
  padding-top: 100px;
  font-size: 32px;
}

.media p {
  line-height: 2;
  margin: 50px 333px 57px 333px;
  font-size: 16px;
  color: #727272;
  line-height: 2;
}

.media-img {
  position: relative;
  padding-bottom: 100px;
}

.play-button {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
  cursor: pointer;
}
.play-button:hover {
  opacity: 0.5;
}
.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 28px;
}

.gallery-col {
  width: 25%;
  background-position: center;
  background-size: cover;
  padding-top: 25%;
  position: relative;
}

.gallery-col:hover:before,
.gallery-col:hover::after {
  transform: opacity 0.3s ease-in;
  opacity: 1;
  visibility: visible;
}

.gallery-col:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(52, 84, 122, 0.8),
    rgba(52, 84, 122, 0.8)
  );
  opacity: 0;
  visibility: hidden;
}

.gallery-col:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 58px;
  background-image: url(/images/Eye.png);
  background-position: center;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
}

.microsoft {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 72px 0px 100px 0px;
  padding: 0 15px;
}

.microsoft-logo {
  padding: 0 15px 0 15px;
}

.footer {
  background: #eeeff1;
}

.footer-form {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 540px;
  justify-content: space-evenly;
  align-items: baseline;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-list h4 {
  font-size: 32px;
  margin: 0;
  padding-top: 100px;
}

.footer-list p {
  text-align: center;
  margin: 50px 333px 65px 333px;
  line-height: 2;
  color: #727272;
}

.bottom-section {
  background: #34547a;
}

.btn-form {
  text-decoration: none;
  background: #34547a;
  border: none;
  padding: 20px 36px;
  margin-bottom: 100px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.btn-form:hover {
  background: grey;
  opacity: 0.7;
  color: #eeeff1;
}

.form-name {
  border: none;
  color: #5f5d5d;
  font-size: 14px;
  margin: 0px 22px 20px 0px;
  flex: 1 1 237px;
  height: 50px;
  padding-left: 20px;
  cursor: pointer;
}

.form-mail {
  border: none;
  color: #5f5d5d;
  font-size: 14px;
  flex: 1 1 237px;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.form-textarea {
  border: none;
  color: #5f5d5d;
  font-size: 14px;
  flex: 1 1 520px;
  margin-bottom: 50px;
  padding: 17px 0px 133px 20px;
  cursor: pointer;
}
.fake-checkbox {
  color: #727272;
  display: inline-flex;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  align-items: center;
  user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox:checked + label::before {
  border-color: #34547a;
  background-color: #34547a;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.bottom-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.contact {
  color: #ffffff;
  margin: 50px 0 50px 0;
}

.contact p {
  font-size: 21px;
  padding-bottom: 20px;
}

.contact span {
  font-size: 13px;
}

.logo-bottom a {
  padding-left: 20px;
}
@media (min-width: 320px) and (max-width: 600px) {
  #burger:checked ~ .nav-list {
    flex-direction: column;
    height: 250px;
  }
  #burger:checked + .burger:before {
    top: 8px;
  }
  #burger:checked + .burger:after {
    bottom: 14px;
  }
  .burger:before,
  .burger span,
  .burger:after {
    position: absolute;
    right: -30px;
    left: 17px;
  }
  .nav-list {
    top: 22%;
  }
  .image-info {
    display: none;
  }
  .info-item {
    width: 100%;
  }
  .header-info {
    padding: 40px 0 40px 0;
  }
  .info-item h1 {
    font-size: 25px;
    margin: 0;
    text-align: center;
  }
  .info-item p {
    text-align: center;
    margin: 30px 70px 30px 70px;
  }
  .info-bottom {
    text-align: center;
  }
  .btn-form {
    margin-bottom: 40px;
  }
  .about h2 {
    font-size: 25px;
    margin-top: 25px;
  }
  .about p {
    margin: 30px 70px 30px 70px;
  }
  .numbers-item {
    padding: 15px 9px 15px 9px;
  }
  .skill .row {
    flex-direction: column;
  }
  .skill {
    margin: 25px 0;
  }
  .skill-header h2 {
    font-size: 25px;
    text-align: center;
  }
  .col-img {
    margin-top: 25px;
  }
  .media h3 {
    margin: 0;
    padding-top: 25px;
    font-size: 25px;
  }
  .media p {
    margin: 30px 70px 30px 70px;
  }
  .media-img {
    padding-bottom: 60px;
  }
  .logo_1,
  .logo_2,
  .logo_3 {
    display: none;
  }
  .microsoft {
    margin: 0;
  }
  .footer-list h4 {
    font-size: 25px;
    margin: 0;
    padding-top: 25px;
  }
  .footer-list p {
    margin: 30px 70px 30px 70px;
  }
  .form-name {
    margin: 0px 10px 10px 10px;
  }
  .form-mail {
    margin: 0px 10px 10px 10px;
  }
  .form-textarea {
    margin: 0px 10px 10px 10px;
  }
  .contact {
    margin: 20px 0 20px 0;
  }
  .logo-bottom a {
    display: flex;
    margin: 10px 0 10px 0;
    padding: 0;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .header-info {
    padding: 50px 0 50px 0;
    flex-direction: column;
  }
  .info-item {
    text-align: center;
  }
  .info-item h1 {
    font-size: 35px;
    margin-top: 20px;
  }
  .info-item p {
    text-align: center;
    margin: 25px 0 25px 0;
  }
  .image-info {
    position: relative;
    left: 0;
  }
  .about h2 {
    margin: 25px 0 25px 0;
  }
  .about p {
    margin: 0px 30px 20px 30px;
  }
  .numbers-item {
    padding: 40px 10px 40px 10px;
  }
  .media h3 {
    padding-top: 25px;
    margin: 0;
  }
  .media p {
    margin: 25px 40px 25px 40px;
  }
  .media-img {
    padding-bottom: 50px;
  }
  .microsoft {
    margin: 30px 0px 60px 0px;
  }
  .logo_3,
  .logo_4 {
    display: none;
  }
  .footer-list h4 {
    padding-top: 25px;
  }
  .footer-list p {
    margin: 25px 40px 25px 40px;
  }
  .contact {
    margin: 20px 0 20px 0;
  }
}
@media (min-width: 900px) and (max-width: 1070px) {
  .logo_2 {
    display: none;
  }
  .microsoft {
    margin: 30px 0px 60px 0px;
  }
}
@media (min-width: 900px) and (max-width: 1024px) {
  .about p {
    margin: 20px 80px 20px 80px;
  }
}

@media (min-width: 1024px) {
  .burger {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    opacity: 1;
    visibility: visible;
    position: static;
    background: #eeeff1;
  }

  .nav-item {
    padding: 0px 21px;
  }
}
